@media screen and (min-width: 768px) {

    body {
        padding-left: 10%;
        padding-right: 10%;
    }

    .section {
        margin-bottom: 3em;
        padding: 3em 10%;
    }

    .customList {
        padding-left: 15%;
        padding-right: 10%;
    }

    .skillContent {
        padding-right: 30px;
    }

    .projectContent {
        min-height: 13em;
    }

    #followMeSection > div div {
        padding: 0;
    }

    #followMeSection > div div:first-child a {
        float: right;
    }

    #followMeSection > div div:last-child a {
        float: left;
    }

    #followMeSection .contactIcon {
        height: 3em;
        width: 3em;
        margin: 0 0.5em;
    }

    .contactIcon:hover {
        -webkit-transform: scale(1.5);
        transform: scale(1.5);
        -webkit-transition: transform;
        transition: transform;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

}


@media screen and (min-width: 1024px) {

    #name {
        color: black;
    }

    .customList {
        padding-left: 20%;
        padding-right: 15%;
    }


}