html {
    margin: 0;
    padding: 0;
}

body {
    font-size: 13pt;
    background-color: #efefef;
    padding: 20px 7% 10px;
    margin: 0;
    font-family: Arial, serif !important;
}

h1 {
    font-size: 15pt;
    color: #f35d45;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 20px 0;
    font-weight: bold;
}

h1 span {
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    border: 4px solid #f35d45;
    padding: 10px;
}

p {
    padding: 0;
    margin: 0 0 5px;
    line-height: 1.25em;
}

.img-circle {
    border: 3px solid white;
    border-radius: 50%;
}

.section {
    background-color: #fff;
    padding: 20px 10% 30px;
    border-radius: 10px;
    margin: 0 auto 20px;
}

#header {
    background-image: url("../assets/images/misc/header-background-crop.jpg");
    background-size: cover;
    margin-top: 10px;
}

#header img {
    display: block;
    width: 80px;
    height: 80px;
    margin: 20px auto auto;
}

#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bolder;
    text-align: center;
    text-outline: 1px 1px white;
}

#skillsSection .row div{
    margin-bottom: 7px;
}

.language {
    display: inline-block;
    width: 30%;
    position: relative;
    top: 3px;
    text-align: right;
}

.progressBackground {
    display: inline-block;
    margin-left: 10px;
    width: 55%;
    height: 25px;
    background: #FEE6DA;
    border-radius: 3px;
    position: relative;
    top: 2px;
}

.progressValue {
    display: inline-block;
    height: inherit;
    background-color: #FAAF85;
    color: #FEE6DA;
    border-radius: 3px;
}

.progressValueText {
    display: inline-block;
    width: 100%;
    text-align: center;
    height: inherit;
    color: #FEE6DA;
    font-weight: bold;
}

a {
    text-decoration: none;
}

a:link {
    color: #F16E80;
}

a:hover {
    color: black !important;
}

a:visited {
    color: #EE2364;
}

.greeting {
    text-align: center;
}

.customListItem {
    display: table;
}

.customListItem div {
    display: table-cell;
}

.customList {
    margin: 10px 15% 0 25%;
}

.customListIcon {
    height: 25px;
    margin-right: 10px;
    display: table-cell;
}

.customListText {
    display: inline;
    position: relative;
    top: -6px;
}

/* FF render table-cell differently (dirty solution, need to improve) */
@-moz-document url-prefix() {
    .customListText {
        display: inline;
        position: relative;
        top: 2px;
    }
}

.linkText {
    width: fit-content;
    margin: 10px auto 0;
    text-align: center;
    color: #EE2364;
}

.linkText:hover {
    cursor: pointer;
}

.projects {
    border-spacing: 10px;
    margin-top: 10px;
}

.projectsHidden {
    display: none;
}

.project {
    padding: 10px;
    background-color: #FEE6DA;
    background-clip: padding-box;
    border: 10px solid transparent;
    border-radius: 20px;
}

.projectTitle {
    font-weight: bold;
    font-size: 1.25em;
    margin: auto;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.projectDescription {
    display: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.projectType {
    font-style: italic;
    font-weight: bold;
}

.experienceHidden {
    display: none;
    width: 100%;
    height: fit-content;
}

.experienceTitle {
    font-weight: bold;
    font-style: italic;
}

.company {
    text-align: center;
}

.period {
    text-align: right;
}

hr {
    margin: 25px auto;
    width: 40%;
    background-color: #efefef;
}

/*.modal-dialog {*/
    /*max-height: 75% !important;*/
/*}*/

/*#hiddenModal {*/
    /*width: 100% !important;*/
/*}*/

.modal-title {
    display: inline-block;
    margin: 0 auto;
    font-weight: bold;
}

/*.modal-body {*/
    /*height: 75%;*/
/*}*/

.modal-body .demoImage {
    display: block;
    margin: auto;
    /*width: 100%;*/
    /*height: 50%;*/
}

.modal-footer .btn {
    margin: 0 auto;
}

.modal-footer .btn:hover {
    background-color: #FEE6DA !important;
}

.shadow {
    -webkit-box-shadow: 2px 2px 4px 4px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    2px 2px 4px 4px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         2px 2px 4px 4px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}

#contactForm {
    text-align: center;
    margin-top: 0;
}

#contactForm * {
    width: 80%;
}

#contactForm input[type=text], #contactSubmit, #contactSubmitAlert {
    min-height: 50px;
}

#contactForm input, #contactMessage {
    box-sizing: border-box;
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    outline: none;
}

#contactMessage {
    height: 120px;
    resize: none;
    margin-bottom: 3px;
}

#contactMessage, input[type=text] {
    font-family: Arial, serif;
}

#contactSubmit {
    box-sizing: border-box;
    background-color: #FAAF85 !important;
    border-radius: 5px;
    cursor: pointer;
    color: white !important;
    border: none;
    outline: none;
    font-weight: bold;
    margin-top: 15px;
}

#contactSubmit:hover {
    background-color: #F59C68 !important;
}

#contactSubmitAlert {
    margin: 15px auto;
    display: none;
}

#botPrevention {
    display: none;
}

#contacts div {
    margin-bottom: 10px;
}

#contacts img {
    height: 50px;
    width: 50px;
    margin: 0 7px;
}

#contacts a {
    text-decoration: none;
}

#contacts img:hover {
    opacity: 0.8;
}

#contacts {
    text-align: center;
}

.copyright {
    font-size: 10pt;
    text-align: center;
    padding-bottom: 10px;
    color: grey;
}
